@media (min-width: 1200px) {
      
   .cuerpo {
    padding-top: 174px;
  }
}



.altoAvance {
    height: 17vh;
    min-height: 190px;
}

@media (min-width: 1900px) {
    .altoAvance {
        height: 20vh;
    }
}





@media (max-width: 1199px) {
   
    .cuerpo {
      padding-top: 84px;
    }
  
    }