.definicion {
	 background-image: url("../assets/img/basededatos/fondo-definicion.svg");
	 background-repeat: no-repeat;
	 background-size: 85%;
	 background-position: bottom;
	 margin-bottom: 50px;
	 height: 560px;
}
 .carpeta {
	 background-image: url("../assets/img/basededatos/carpetaarchivos.gif");
	 background-repeat: no-repeat;
	 background-size: 50%;
	 background-position: right;
}
 .consulta {
	 background-image: url("../assets/img/basededatos/consulta.gif");
	 background-repeat: no-repeat;
	 background-size: 40%;
	 background-position: right;
}
 .contenedor-video {
	 background: #962464;
}
 .contenedor-video .cuadro-video {
	 background: #fff;
	 height: 50vh;
	 color: #962464;
	 font-size: 3.5em;
}
 .base-datos {
	 font-size: 16px;
	 font-family: 'Roboto-Regular', sans-serif;
	 color: #34344e !important;
}
 .bgAzul {
	 background: #48487c !important;
}
 .bgRosa {
	 background: #962464 !important;
}
 .titulobase {
	 /*font-size: 35px;*/
	 font-family: 'Roboto-Bold', sans-serif;
}
 .img-descargar {
	 width: 100%;
}
 .img-descomprimir {
	 width: 100%;
}
 .img-abrir {
	 width: 100%;
}
 .img-fila2 {
	 width: 70%;
}
 .img-fila4 {
	 width: 100%;
}
 .img-autenticidad-2 {
	 width: 50%;
}
 .img-autenticidad-3 {
	 width: 50%;
}
 .img-autenticidad-4 {
	 width: 50%;
}
 .img-autenticidad-5 {
	 width: 50%;
}
 .img-flecha-blanca-sm {
	 width: 50%;
}
 .numero-descarga {
	 font-size: 30px;
}
 .numero-desomprimir {
	 font-size: 25px;
}
 