h1 {
	 font-size: 20px;
}
 @media (max-width: 576px) {
	 .px34 {
		 font-size: 1.4em !important;
	}
	 .px49 {
		 font-size: 2em !important;
	}
}
 @media (min-width: 992px) and (max-width: 1199.98px) {
	 .mx-md-1p {
		 margin-left: 0.25% !important;
		 margin-right: 0.25% !important;
	}
}
 @media (min-width: 1200px) {
	 h1 {
		 font-size: 28px;
	}
	 .col-xl-8c {
		 flex: 0 0 12%;
		 max-width: 12%;
		 width: 12%;
		 float: left;
		 margin: 0 0.25%;
		 padding-left: 0;
		 padding-right: 0;
	}
}
 