.px8 {
    font-size: 8px;
}

.px10 {
    font-size: 10px;
}

.px11 {
    font-size: 11px;
}

.px12 {
    font-size: 12px;
}

.px14 {
    font-size: 14px;
}

.px15 {
    font-size: 15px;
}

.px16 {
    font-size: 16px;
}

.px18 {
    font-size: 18px;
}

.px20 {
    font-size: 20px;
}

.px21 {
    font-size: 21px;
}

.px22 {
    font-size: 22px;
}

.px24 {
    font-size: 24px;
}

.px26 {
    font-size: 26px;
}

.px28 {
    font-size: 28px;
}

.px30 {
    font-size: 30px;
}

.px34 {
    font-size: 34px;
}

.px36 {
    font-size: 36px;
}

.px38 {
    font-size: 38px;
}

.px43 {
    font-size: 43px;
}

.px49 {
    font-size: 49px;
}

.px50 {
    font-size: 50px;
}

.maxH50 {
    max-height: 50px;
}