.pe {
    width: 22px;
    height: 22px;
}

.separador-grueso {
    height: 30px;
    width: 3px;
    background: black;
}



.partidolider{border: solid 3px #d1308a !important; border-radius: 8px; padding: 3px}